*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5em;
    background-color: #fafafa;
}

/* =========================
        HEADER STYLES 
   =========================  */

.page-header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.page-header.desktop-layout {
    justify-content: flex-start;
    gap: 2em;
}

.page-header .logo {
    object-fit: contain;
}

.auth-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.auth-buttons-container button {
    min-width: 130px;
}

.auth-buttons-container.desktop-layout {
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

/* =========================
           NAV STYLES 
   =========================  */

.bg-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7)
}

.overlay-active {
    display: block;
}

.nav-container-mobile {
    position: fixed;
    background-color: #fafafa;
    width: 66%;
    height: 100vh;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.5em;
}

.main-nav {
    display: flex;
    flex-direction: column;
    color: #696969;
    gap: 1em;
}

.main-nav.desktop-layout {
    flex-direction: row;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    margin: 0.75em 0;
}

.nav-links-primary {
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.nav-links-primary.desktop-layout {
    flex-direction: row;
    flex-grow: 3;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    color: #696969;
}

/* =========================
         BUTTON STYLES 
   =========================  */

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.75em 1.25em;
}

.primary-btn,
.secondary-btn,
.ghost-btn {
    border-radius: 10px;
    font-size: 1.125rem;
    margin: 0.5em 0;
}

.primary-btn {
    background-color: #141414;
    color: #fafafa;
    font-weight: 700;
    align-self: center;
}

.primary-btn.desktop-layout {
    align-self: flex-start;
}

.primary-btn:hover {
    background-color: #fafafa;
    color: #141414;
    box-shadow: inset 0 0 0 2px #141414;
}

.secondary-btn,
.ghost-btn {
    color: #696969;
}

.secondary-btn,
.ghost-btn:hover {
    box-shadow: inset 0 0 0 2px #696969;
}

.secondary-btn:hover {
    background-color: #696969;
    color: #fafafa;
}

.close-nav-btn {
    align-self: flex-end;
}

.open-nav-btn:hover,
.close-nav-btn:hover {
    transform: scale(1.3)
}

/* =========================
         BANNER STYLES 
   =========================  */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.client-logos-banner {
    margin-top: 3em;
}

.client-logos-banner.desktop-layout {
    margin-top: 6em;
}

.client-logo {
    max-width: 20%;
    aspect-ratio: auto;
    object-fit: contain;

}

/* =========================
         IMAGE STYLES 
   =========================  */

.hero-img {
    width: 100%;
}

/* =========================
        HOMEPAGE STYLES
   =========================  */

.main-home {
    display: flex;
    flex-direction: column;
}

.main-home.desktop-layout {
    flex-direction: row;
    justify-content: space-around;
}

.hero-img-container.desktop-layout {
    order: 2;
}

.hero-img {
    object-fit: contain;
}

.home-content-header {
    font-size: 2.25rem;
}

.home-content-header.desktop-layout {
    font-size: 4rem;
    line-height: 4.5rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

.home-content p {
    color: #696969;
    margin-bottom: 2em;
}

.home-content.desktop-layout {
    text-align: left;
    flex-grow: 1;
    justify-content: center;
    padding: 5%;
    max-width: 600px;
}

/* =========================
          UTILITY
   =========================  */

.hidden {
    display: none;
}